*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 60% 15%;

}

#left-top-left{
    background-color: white;
    padding: 40px;
}
#square{
    width: 20px;
    height: 20px;
    background-color: black;
    transform: rotate(45deg);

}

#left-top-right{
    /* background-color: blue; */
    padding: 30px;
    justify-self: right;
    text-align: right;
}
/* #left-top-right h5{
    background-color: red;
} */
#left-top-right h5{
    /* font-size: 18px; */
    font-weight: 300;
    color: #333;
}
#left-top-right h3{
    font-size: 20px;


}

#left-centre{
    background-color:white;
    grid-column: 1/3;
    padding: 20px;
}
#left-centre h1{
    font-size: 70px;
}
#left-centre h1:nth-child(2){
    /* background-color: rebeccapurple; */
    text-align: center;

}
#left-centre h1:nth-child(4){
    /* background-color: rebeccapurple; */
    text-align: right;
    margin-right: 200px;

}

#left-bottom{
    background-color:white;
    grid-column: 1/3;
    padding: 10px;
}
#left-bottom p{
    font-size:13px;
    color: #333;
}
#right{
    background-color:white;
    grid-column: 3;
    grid-row: 1/4;
    padding: 20px 10px 20px ;
}
#right video{
    width: 100%;
    height: 100%;
    background-size: contain;
    border-radius: 3px;
}
#arrow{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50% -50%);
    background-color: orange;
    width: 60px;
    height: 60px;
    padding: 9px;
    border-radius: 50%;
}
#arrow i{
    color: white;
    font-size: 40px;
    font-weight: 100;
}
#search-box{
    position: absolute;
    top: 0%;
    left: 95%;
    rotate: 90deg;
}
#search-box i{
    font-size: 15px;
    
}